.cards-container{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.card-container{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
    border-radius: 10px;
    gap: 6px;
}